<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/form-elements.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
<div class="top-content" style="margin-left: 400px">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>忘记密码界面</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-left: 100px;">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>请输入忘记密码的用户名</h3>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="form-group">
                            <span style="color: #a3a3a3;font-size: 20px">用户名：</span>
                            <input type="text" placeholder="请输入正确的用户名..." class="form-username form-control" id="name">
                        </div>
                        <div class="form-group">
                            <span style="color: #a3a3a3;font-size: 20px">手机号码：</span>
                            <input type="text" placeholder="请输入绑定手机号..." class="form-username form-control" id="phone">
                        </div>
                        <div class="form-group">
                            <span style="color: #a3a3a3;font-size: 20px;display: none" id="font">当前用户密码：</span>
                            <span style="border: none;display: none;" id="password"></span>
                        </div>
                        <button class="btn" style="margin-top: 5px" onclick="forget()">确定找回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.backstretch.min.js"></script>
<script src="js/vendor/scripts.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="forget.js"></script>

</body>

</html>