<!doctype html>
<html>

<head>
    <meta charset="utf-8">   
    <title>教育互助平台</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="css/plugins/slick.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header-area" style="margin-left: -20px">
        <div class="main-header d-none d-lg-block">     
            <div class="header-top black-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="top-left-navigation">
                                <ul class="nav align-items-center">
                                    <li class="language">

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <ul class="user-info-block">
                                <li><a href="my-setting/my-setting.html"><i class="fa fa-user-circle"></i>我的信息</a></li>
                                <li><a href="login.html"><i class="fa fa-sign-in"></i> 注销 </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="header-main-area black-soft sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        
                        <div class="col-auto">
                            <div class="logo">
                                <a href="index.html">
                                   <img src="img/teach/3.jpg" alt="Brand Logo" style="height: 91px;width: 160px">
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-auto position-static">
                            <div class="main-menu-area">
                                <div class="main-menu">
                                    <nav class="desktop-menu">
                                        <ul>

                                            <li class="position-static"><a href="index.html" style="text-decoration: none">教育主页</a>
                                            </li>
                                            <li><a href="dynamic/Dynamic.html">交流动态 </a>
                                            </li>
                                            <li><a href="my-message/my-message.html">我的平台</a>
                                            </li>
                                            <li><a href="chat/my-chat.html" style="text-decoration: none">我的好友</a>
                                            </li>
                                            <li><a href="contact-us/contact-us.html">联系我们</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-auto ml-auto">
                            <div class="header-right">
                                <div class="header-configure-area">
                                    <ul class="nav">


                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>          
        </div>
    </header>
<main>
        <section class="hero-slider">
            <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                    <div class="hero-single-slide hero-overlay">
                    <div class="hero-slider-item hero-1 bg-img" data-bg="img/teach/2.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hero-slider-content slide-1">
                                        <h3 class="slide-title">教育互助</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div class="hero-single-slide hero-overlay">
                    <div class="hero-slider-item hero-1 bg-img" data-bg="img/teach/1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hero-slider-content slide-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h3 class="about-title" style="text-align: center;margin-top: 50px">关于教育互助.</h3>
        <div id="ConHtml">

        </div>
    <section class="about-us bg-gray section-padding" style="margin-top: -70px;">
        <div class="about-content" style="text-align: center">
            <p style="text-align: center;font-size: 20px">1、我们及大多数人成年人，需要接受教育；</p>
            <p style="text-align: center;font-size: 20px">2、我作为成年人，也仍然深感世界之大，希望能获得不断深化认识扩展视野的有效方式；</p>
            <p style="text-align: center;font-size: 20px">3、现在市场上提供的教育要么太差要么太贵。而我认为好的教育并不一定要贵。而且，通常，最好的东西无法用金钱买到。</p>
            <p style="text-align: center;font-size: 20px">4、所以我们要创建当前网站来实现教育快捷版互助，达成各自目标成就。</p>

        </div>
    </section>


    </main>

    <!--置顶-->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
        
    <footer class="black-bg">
        <section class="newsletter-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-wrapper text-center">
                            <h2 class="title text-white">欢迎加入我们的教育互助团队！</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       
       <!--结尾 -->
        <div class="footer-middle-area">
            <div class="container">
                <div class="row mtn-30">
                    <div class="col-lg-6 col-sm-12">
                        <div class="address-block mt-30">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="img/smallthing/6.png" alt="Brand Logo">
                                </a>
                            </div>
                            <address class="address-info d-flex align-items-center">
                                <i class="fa fa-map-marker"></i>
                                <p><span>地址 : </span> ******</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <address class="address-info email mt-30">
                            <i class="fa fa-envelope"></i>
                            <p><span>邮箱 : </span><a href="#">******</a></p>
                        </address>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <address class="address-info email mt-30">
                            <i class="fa fa-phone"></i>
                            <p><span>电话 : </span><a href="#">*** **** ****</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area text-center">

        </div>
    </footer>
   
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins/slick.min.js"></script>
    <script src="js/plugins/nice-select.min.js"></script>
    <script src="js/plugins/jqueryui.min.js"></script>
    <script src="js/plugins/image-zoom.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="my-setting/my-setting.js"></script>
    <script src="common.js"></script>
    <script src="js/layer/layer.js"></script>
    <script src="shop/Shop.js"></script>
    <script src="index.js"></script>
</body>
</html>