<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.teach.mapper.DynamicMapper">
        <select id="selectDynamic" resultType="com.example.teach.bean.Dynamic">
             select * from dynamic
        </select>
        <insert id="saveDynamicContent">
            insert into dynamic(DynamicSendName,DynamicPhoto,DynamicTime,DynamicPath,DynamicAddress,DynamicContent)
            values (#{DynamicSendName},#{DynamicPhoto},#{DynamicTime},#{DynamicPath},#{DynamicAddress},#{DynamicContent})
        </insert>

        <update id="savePersonHead">
             update user set path = #{personHead} where name = #{name}
        </update>

        <select id="selectDynamicMe" resultType="com.example.teach.bean.Dynamic">
                select * from dynamic where DynamicSendName = #{setName};
        </select>

        <select id="selectVBNum" resultType="Integer">
                select count(*) from dynamic where DynamicSendName = #{name};
        </select>

        <delete id="deleteDynamic">
                delete from dynamic where DynamicID = #{ID}
        </delete>

        <insert id="sendDynamicContent">
                insert into dynamic (DynamicSendName, DynamicTime, DynamicAddress, DynamicContent, DynamicPhoto)
                values (#{DynamicSendName},#{DynamicTime},#{DynamicAddress},#{DynamicContent},#{DynamicPhoto});
        </insert>

        <update id="updateDynamicHead">
                update dynamic set DynamicPhoto = #{fileName} where DynamicSendName = #{personImg}
        </update>

        <update id="clickPraise">
                update dynamic set DynamicZanNum = #{praise} where DynamicID = #{id}
        </update>
        
        <insert id="sendComment">
                insert into comment (sendName, time, content, commentPath, photo, commentContent, commentName)
                values (#{sendName},#{time},#{content},#{commentPath},#{photo},#{commentContent},#{commentName});
        </insert>

        <select id="clickComment" resultType="com.example.teach.bean.Comment">
                select * from comment
                <where>
                        <if test="commentPath!=null and commentPath!=''">
                                and commentPath = #{commentPath}
                        </if>
                        <if test="commentName!=null and commentName!=''">
                                and commentName = #{commentName}
                        </if>
                        <if test="commentContent!=null and commentContent!=''">
                                and commentContent = #{commentContent}
                        </if>
                </where>
        </select>

        <insert id="saveSaveContent">
                insert into cart (cartName, cartIntroduce, cartPath, cartPrice,isSell,MyArticle,isBuy,sellName,sellID)
                values (#{cartName},#{cartIntroduce},#{cartPath},#{cartPrice},#{isSell},#{MyArticle},0,#{sellName},#{sellID});
        </insert>

        <insert id="saveContent">
                insert into content (ConName, ConImage, ConContent)
                values (#{ConName},#{ConImage},#{ConContent});
        </insert>

        <select id="selectContent" resultType="com.example.teach.bean.Content">
                select * from content
        </select>

        <select id="selectContent2" resultType="com.example.teach.bean.Content">
                select * from content where id = #{id}
        </select>

        <delete id="deleteContent">
                delete from content where id = #{id}
        </delete>

        <update id="updateContent">
                update content set ConName=#{ConName},ConImage=#{ConImage},ConContent=#{ConContent}
                where id = #{id}
        </update>

        <insert id="saveNews">
                insert into news (newsName,newsPath,newsContent) values (#{newsName},#{newsPath},#{newsContent});
        </insert>
        
        <select id="selectDiscuss" resultType="com.example.teach.bean.Comment">
                select * from comment ;
        </select>

        <delete id="deleteDynamicDis">
                delete from comment where id = #{id}
        </delete>

        <select id="selectDiscussNews" resultType="com.example.teach.bean.Discuss">
                select * from discuss;
        </select>

        <delete id="deleteNewsDis">
                delete from discuss where id= #{id}
        </delete>
</mapper>